.about {
  display: grid;
  place-items: start;

  --primary_clr: #fec013;
  --secondary_clr: #455c66;
  --third_clr: #1d1836;
  --txt-clr: white;
  --main_bg_clr: rgb(218, 228, 241);

  --font-size-icon: 30px;
  --font-size-header: 40px;
  --font-size-header-2: 25px;
  --font-size-p: 20px;

  --max-screen-width: 1366px;
}
.container-2 {
  width: 100%;
}

.about .top {
  background: var(--main_bg_clr);
  /* background: mediumaquamarine; */
  padding: 0 2rem;
}
.about .top h1 {
  text-align: center;
  font-size: var(--font-size-header);
  color: var(--secondary_clr);
  line-height: 15rem;
  font-weight: 400;
  text-transform: uppercase;
}
.about .triad {
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, clamp(150px, 70vw, 300px));
  margin: 0 auto;
  /* width: 90%; */
  /* max-width: calc(0.8 * var(--max-screen-width)); */

  gap: 3rem;
}
.about .card {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  background-color: var(--main_bg_clr);
  border-radius: 15px;
  box-shadow: 0 0 10px 5px var(--secondary_clr);
}

.about .card img {
  object-fit: contain;
  width: 110px;
  height: 110px;
}

.about .card h4 {
  color: var(--secondary_clr);
  font-size: var(--font-size-header-2);
  margin: 1rem 0;
}
.about .card p {
  line-height: 2.2rem;
  width: 90%;
  word-wrap: break-word;
}

.about .btm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;

  background-color: var(--secondary_clr);

  height: 30vh;
  max-height: 200px;
  margin-top: 5rem;
}
.about .btm p {
  font-size: var(--font-size-p);
  color: var(--txt-clr);

  font-weight: 200;
  width: 90%;
}
.about .btm .btn-2 {
  text-transform: uppercase;
}
.about .btm .btn-2:hover {
  box-shadow: 0 0 15px 2px var(--primary_clr);
}

/* TODO adjust to screen --- simplify-prolly can use clamp*/
@media (max-width: 1050px) {
  .about .triad {
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .about .card {
    flex-direction: row;
    height: 250px;
    width: 80%;
  }
  .about .card h4 {
    margin-right: 1rem;
  }
  .about .btm .btn-2 {
    display: inline-block;
  }
}

@media (max-width: 830px) {
  .about .triad {
    gap: 4rem 10rem;
    grid-template-columns: repeat(1, 5fr);
    width: 70%;
    max-width: calc(0.55 * 830px);
  }
  .about .card {
    flex-direction: column;
    height: 500px;
    width: 80%;
  }
}
@media (max-width: 650px) {
  .about .triad {
    width: 60%;
  }
  .about .card {
    flex-direction: column;
    height: 500px;
    width: 100%;
  }
  .about .top h1 {
    line-height: 5rem;
    margin: 2rem 0;
  }
}
@media (max-width: 550px) {
  .about .triad {
    width: 80%;
  }
  .about .card {
    height: 550px;
  }
  .about .btm p {
    width: 70%;
    font-size: 18px;
    letter-spacing: 0.07rem;
  }
}
