.section_footer {
  display: grid;
  place-items: start;

  --primary_clr: #fec013;
  --secondary_clr: #214551;
  --third_clr: #1d1836;
  --txt-clr: white;
  --main_bg_clr: hsl(214, 45%, 90%);

  --font-size-icon: 30px;
  --font-size-header: 40px;
  --font-size-header-2: 25px;
  --font-size-p: 20px;

  --max-screen-width: 1366px;

  background-color: var(--secondary_clr);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.footer {
  position: relative;
  padding: 3rem 4rem;
  margin: 4rem auto;
}

.footer .btm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;

  color: var(--txt-clr);
}
.footer .box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
}
.footer .btm h1 {
  color: var(--primary_clr);
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.footer .btm .contact ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.footer .btm .contact ul li {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  width: fit-content;
  font-size: 16px;
  word-wrap: break-word;
}
.footer .btm .contact ul li i {
  color: var(--txt-clr);
  font-size: 16px;
}
.footer .about {
  display: inline;
}
.footer .btm .about h1 {
  margin-bottom: 1rem;
}
.footer .btm .about p {
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  font-size: 16px;
}

.footer .socials {
  width: 150%;
  color: var(--primary_clr);
  font-weight: 300;
}
.footer .socials h1 {
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.footer .socials ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 500px;
}
.footer .socials ul li i {
  font-size: var(--font-size-icon);
  cursor: pointer;
  transition: all ease 0.3s;
  color: var(--main_bg_clr);
}
.footer .socials ul li i:hover {
  transform: scale(1.2);
  transition: all ease 0.3s;
  color: var(--primary_clr);
}
.footer > a {
  font-weight: 400;
}
.footer .btn-2 {
  cursor: pointer;
  background-color: var(--txt-clr);
  width: fit-content;
  display: block;
  margin: 3rem 0;
}
.footer .btn-2:hover {
  box-shadow: 0 0 10px 3px var(--main_bg_clr);
}
.copyright_section {
  border-top: 1px solid var(--main_bg_clr);
  background: var(--secondary_clr);
  color: var(--txt-clr);
  font-weight: 300;

  width: 100%;
}

.copyright {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem 4rem;
  background: var(--secondary_clr);
}
.copyright p {
  width: fit-content;
}

.to-top-btn {
  position: fixed;
  bottom: 8rem;
  right: 5rem;
  background: var(--primary_clr);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(10rem, 10rem);
  transition: all ease-in-out 0.3s;
}
.to-top-btn::before {
  font: var(--fa-font-solid);
  content: "\f102";
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 7px);

  color: var(--secondary_clr);
}

.to-top-btn:hover {
  opacity: 0.85;
}
.privacy {
  position: relative;
  cursor: pointer;
  transition: ease 0.3s all;
  transition-delay: 0.5s;
  width: 10%;
  position: relative;
}
.privacy div::after {
  font: var(--fa-font-solid);
  /* content: "\f177"; */
  position: absolute;
  top: 0.9rem;
  left: 7rem;
  font-size: 20px;
  color: var(--main_bg_clr);
  animation: point 0.8s ease infinite alternate;
  opacity: 1;
  transition: 0.3s 0.7s ease all;
}
.privacy div:hover::after {
  opacity: 0;
  transition: 0.3s ease all;
}

@keyframes point {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-2rem);
  }
}
.privacy div {
  font-weight: 300;
  cursor: pointer;
}

.privacy:hover > .privacy-links {
  /* opacity: 1; */
  transform: scale(1);
  -webkit-font-smoothing: antialiased;

  transition: ease 0.3s all;
}
.privacy-links {
  position: absolute;
  left: -17rem;
  top: -10rem;
  background: #dedede;
  border-radius: 20px;
  width: 270px;
  padding: 1rem;
  /* opacity: 0; */
  transform: scale(0);
  -webkit-font-smoothing: antialiased;

  transition: ease 0.3s all;
  transition-delay: 0.5s;
  text-align: center;
}
.privacy-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.privacy-links li a {
  color: var(--secondary_clr);
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 16px;

  text-decoration: none;
}
.privacy-links li a:hover {
  text-decoration: underline;
  color: rgb(7, 151, 161);
  transition: all linear 0.1s;
}
.chat-bot {
  position: fixed;
  left: 0 !important;
  top: 0;
}
@media (max-width: 1100px) {
  .copyright {
    justify-content: flex-start;
    gap: 10rem;
  }
}
@media (max-width: 800px) {
  .footer .btm {
    grid-template-columns: repeat(1, 1fr);
    place-items: start;
  }
  .copyright {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 2rem;
    z-index: 999;
  }
  .privacy-links {
    left: 2rem;
  }
}
@media (max-width: 550px) {
  .footer .socials ul {
    width: 60% !important;
  }
  .copyright {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 5rem;
    z-index: 999;
  }
}
