@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
.mobile {
  display: grid;
  place-items: start;

  --primary_clr: #fec013;
  --secondary_clr: #455c66;
  --third_clr: #1d1836;
  --txt-clr: white;
  --main_bg_clr: hsl(213, 44%, 90%);

  --font-size-icon: 30px;
  --font-size-header: 40px;
  --font-size-header-2: 25px;
  --font-size-p: 20px;

  --max-screen-width: 1366px;

  background-color: var(--main_bg_clr);
}

.mobile_app {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  margin: 0 auto;
  padding: 8rem 3rem 3rem 3rem;
}

.mobile_app h1,
h3 {
  text-transform: uppercase;
  color: var(--secondary_clr);
  text-align: start;
}
.mobile_app h1 {
  font-size: 40px;
  font-weight: 500;
  width: 80%;
  min-width: 482px;
  margin-left: 0 !important;
}
.mobile_app h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.mobile_app .zone {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.mobile_app .zone img {
  border-radius: 20px;
  width: 350px;
  -o-object-fit: contain;
  object-fit: contain;
}
.mobile_app .zone div {
  margin: 0 0 0 2rem;
  max-width: 800px;
}
.mobile_app .zone div p {
  color: var(--secondary_clr);
  position: relative;
  font-size: large;
  margin-bottom: 3rem;
}
/* .mobile_app .zone div p::before {
  font: var(--fa-font-solid);
  content: "\23";
  position: absolute;
  top: 0.6rem;
  left: -2rem;
  font-size: 20px;
  width: 1rem;
  height: 1rem;
} */

@media (max-width: 1000px) {
  .mobile_app .zone {
    flex-direction: column;
    padding: 2rem 1rem;
    align-items: center;
  }
  .mobile_app .zone div {
    margin-top: 5rem;
  }
  .mobile_app h1 {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .mobile_app h1 {
    font-size: 35px;
    min-width: initial;
  }
  .mobile_app h3 {
    font-size: 15px;
  }
}
