.section_portal {
  display: grid;
  place-items: start;

  --primary_clr: #fec013;
  --secondary_clr: #455c66;
  --third_clr: #1d1836;
  --txt-clr: white;
  --main_bg_clr: hsl(213, 44%, 90%);

  --font-size-icon: 30px;
  --font-size-header: 40px;
  --font-size-header-2: 25px;
  --font-size-p: 20px;

  --max-screen-width: 1366px;
}

.portal {
  margin: 0 auto 8rem auto;
  padding: 0 3rem 3rem 3rem;
}
.portal h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: var(--secondary_clr);
  margin-bottom: 0.5rem;
}

.portal .btm {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.portal .btm div p {
  position: relative;
  color: var(--secondary_clr);
  margin: 0 0 3rem 0;
  font-size: large;
}
/* .portal .btm div p::before {
  font: var(--fa-font-solid);
  content: "\23";
  position: absolute;
  top: 0.6rem;
  left: -2rem;
  font-size: 20px;
  width: 1rem;
  height: 1rem;
} */
.portal .btm img {
  width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .portal .btm {
    flex-direction: column-reverse;
  }
  .portal .btm div {
    margin-top: 5rem;
  }
  .portal .btm div p,
  .portal h1 {
    width: 100%;
    margin-left: 1rem;
  }
  .portal .btm img {
    width: 80%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
