@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --primary_clr: #fec013;
  /* --secondary_clr: #214551; */
  --secondary_clr: #455c66;
  --third_clr: #1d1836;
  --main_bg_clr: hsl(213, 44%, 90%);

  --font-size-icon: 30px;
  --font-size-header: 40px;
  --font-size-p: 20px;

  --max-screen-width: 1366px;
}

.home {
  z-index: 0;
  position: relative;
  margin: 8rem auto 0 auto;
  padding: 3rem 0;
  /* background: url(/assets/img/video_bg.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 500px; */
  position: relative;
}

/* .home .img {
  position: absolute;
  width: 20%;
  left: -20rem;
  transform: rotate3d(1, 1, 1, 270deg);
}
.home .img img {
  width: 100%;
  object-fit: cover;
} */

.video-player {
  position: relative;
  aspect-ratio: 1/0.56;
  width: 95%;
  overflow-x: hidden;
  margin: 0 auto;

  border-radius: 20px;

  transition: all 0.5s ease-in-out;
  --txt-overlay-left: 2rem;
  --play-btn-left: 2rem;
}
.video-player video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 15px;
  -o-object-fit: cover;
  object-fit: cover;
}
.video-overlay {
  content: "";
  background: var(--secondary_clr);
  border-radius: 15px;
  opacity: 0.7;
  position: absolute;
  inset: 0;
  z-index: 0;

  transition: all ease 0.5s;
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}
.txt-overlay {
  position: absolute;
  top: 40%;
  transform: translate(0, -40%);
  left: var(--txt-overlay-left);
}
.txt-overlay .txt {
  transition: all ease 0.6s;
}
.txt-overlay h1 {
  color: var(--primary_clr);
  font-weight: 400;
  font-size: var(--font-size-header);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.txt-overlay p {
  color: var(--main_bg_clr);
  font-size: var(--font-size-p);
  font-weight: 300;
  width: 600px;
  margin-bottom: 2rem;
}

.video-controller {
  position: absolute;
  top: 70%;
  left: var(--play-btn-left);
  transition: all 0.5s;
}
.video-controller input {
  display: none;
}
.video-controller label i {
  font: var(--fa-font-solid);
  color: var(--primary_clr);
  font-size: var(--font-size-icon);
  cursor: pointer;
}

.fullscreen-controller {
  position: absolute;
  bottom: 5rem;
  left: var(--play-btn-left);
  transition: all ease 0.5s;
  display: none;
}
.fullscreen-controller input {
  display: none;
}
.fullscreen-controller label::after {
  content: "\f065";
  font: var(--fa-font-solid);

  color: var(--primary_clr);
  font-size: var(--font-size-icon);
  cursor: pointer;
}

@media (max-width: 880px) {
  .txt-overlay {
    width: 90%;
    left: var(--txt-overlay-left);
  }
  .video-player .txt-overlay .txt p {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .txt-overlay {
    width: 80%;
  }
  .video-player .txt-overlay .txt h1 {
    font-size: 25px;
  }
  .video-player .txt-overlay .txt p {
    width: 100%;
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  .txt-overlay {
    width: 55%;
  }
  .video-player .txt-overlay .txt h1 {
    font-size: 20px;
  }
  .video-player .txt-overlay .txt p {
    width: 140%;
    font-size: 12px;
  }
}
.custom-shape-divider-top {
  position: absolute;
  top: -8.2rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  max-height: 120px;
}

.custom-shape-divider-top .shape-fill {
  fill: #214551;
}
